In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler,MinMaxScaler,LabelEncoder,OneHotEncoder
import warnings
warnings.filterwarnings("ignore")

Data Exploration and Preprocessing

In [3]:
adult_wh=pd.read_csv("/content/adult_with_headers.csv")
adult_wh

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [4]:
adult_wh.shape

(32561, 15)

In [5]:
adult_wh.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [6]:
adult_wh.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

In [7]:
adult_wh.describe()

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [8]:
adult_wh[adult_wh.duplicated()].shape

(24, 15)

In [9]:
adult_wh[adult_wh.duplicated()]

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
4881,25,Private,308144,Bachelors,13,Never-married,Craft-repair,Not-in-family,White,Male,0,0,40,Mexico,<=50K
5104,90,Private,52386,Some-college,10,Never-married,Other-service,Not-in-family,Asian-Pac-Islander,Male,0,0,35,United-States,<=50K
9171,21,Private,250051,Some-college,10,Never-married,Prof-specialty,Own-child,White,Female,0,0,10,United-States,<=50K
11631,20,Private,107658,Some-college,10,Never-married,Tech-support,Not-in-family,White,Female,0,0,10,United-States,<=50K
13084,25,Private,195994,1st-4th,2,Never-married,Priv-house-serv,Not-in-family,White,Female,0,0,40,Guatemala,<=50K
15059,21,Private,243368,Preschool,1,Never-married,Farming-fishing,Not-in-family,White,Male,0,0,50,Mexico,<=50K
17040,46,Private,173243,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
18555,30,Private,144593,HS-grad,9,Never-married,Other-service,Not-in-family,Black,Male,0,0,40,?,<=50K
18698,19,Private,97261,HS-grad,9,Never-married,Farming-fishing,Not-in-family,White,Male,0,0,40,United-States,<=50K
21318,19,Private,138153,Some-college,10,Never-married,Adm-clerical,Own-child,White,Female,0,0,10,United-States,<=50K
21490,19,Private,146679,Some-college,10,Never-married,Exec-managerial,Own-child,Black,Male,0,0,30,United-States,<=50K
21875,49,Private,31267,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
22300,25,Private,195994,1st-4th,2,Never-married,Priv-house-serv,Not-in-family,White,Female,0,0,40,Guatemala,<=50K
22367,44,Private,367749,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,45,Mexico,<=50K
22494,49,Self-emp-not-inc,43479,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
25872,23,Private,240137,5th-6th,3,Never-married,Handlers-cleaners,Not-in-family,White,Male,0,0,55,Mexico,<=50K
26313,28,Private,274679,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,50,United-States,<=50K
28230,27,Private,255582,HS-grad,9,Never-married,Machine-op-inspct,Not-in-family,White,Female,0,0,40,United-States,<=50K
28522,42,Private,204235,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,>50K
28846,39,Private,30916,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
29157,38,Private,207202,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,48,United-States,>50K
30845,46,Private,133616,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
31993,19,Private,251579,Some-college,10,Never-married,Other-service,Own-child,White,Male,0,0,14,United-States,<=50K
32404,35,Private,379959,HS-grad,9,Divorced,Other-service,Not-in-family,White,Female,0,0,40,United-States,<=50K

In [10]:
df=adult_wh.drop_duplicates(ignore_index=True)

In [11]:
df

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32532,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32533,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32534,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32535,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32536,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [12]:
# Check for missing values represented as '?'
for col in df.columns:
  missing_count = df[col][df[col] == '?'].count()
  if missing_count > 0:
    print(f"Column '{col}' has {missing_count} missing values.")

# Replace '?' with NaN for easier handling
df.replace('?', np.nan, inplace=True)

# Impute missing values for numerical columns with the mean
numerical_cols = ['age', 'fnlwgt', 'education_num', 'capital_gain', 'capital_loss', 'hours_per_week']
df[numerical_cols] = df[numerical_cols].fillna(df[numerical_cols].mean())

# Impute missing values for categorical columns with the mode
categorical_cols = ['workclass', 'education', 'marital_status', 'occupation', 'relationship', 'race', 'sex', 'native_country', 'income']
df[categorical_cols] = df[categorical_cols].fillna(df[categorical_cols].mode().iloc[0])

# Verify that there are no more missing values
print(df.isnull().sum())

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

In [13]:
ss=StandardScaler()
df_ss=ss.fit_transform(df[numerical_cols])
pd.DataFrame(df_ss)

              0         1         2         3         4         5
0      0.030390 -1.063569  1.134777  0.148292 -0.216743 -0.035664
1      0.836973 -1.008668  1.134777 -0.145975 -0.216743 -2.222483
2     -0.042936  0.245040 -0.420679 -0.145975 -0.216743 -0.035664
3      1.056950  0.425752 -1.198407 -0.145975 -0.216743 -0.035664
4     -0.776193  1.408066  1.134777 -0.145975 -0.216743 -0.035664
...         ...       ...       ...       ...       ...       ...
32532 -0.849519  0.639678  0.745913 -0.145975 -0.216743 -0.197650
32533  0.103716 -0.335436 -0.420679 -0.145975 -0.216743 -0.035664
32534  1.423579 -0.358779 -0.420679 -0.145975 -0.216743 -0.035664
32535 -1.216148  0.110930 -0.420679 -0.145975 -0.216743 -1.655530
32536  0.983625  0.929812 -0.420679  1.887635 -0.216743 -0.035664

[32537 rows x 6 columns]

In [14]:
mms=MinMaxScaler()
df_mms=mms.fit_transform(df[numerical_cols])
pd.DataFrame(df_mms)

              0         1         2         3    4         5
0      0.301370  0.044302  0.800000  0.021740  0.0  0.397959
1      0.452055  0.048238  0.800000  0.000000  0.0  0.122449
2      0.287671  0.138113  0.533333  0.000000  0.0  0.397959
3      0.493151  0.151068  0.400000  0.000000  0.0  0.397959
4      0.150685  0.221488  0.800000  0.000000  0.0  0.397959
...         ...       ...       ...       ...  ...       ...
32532  0.136986  0.166404  0.733333  0.000000  0.0  0.377551
32533  0.315068  0.096500  0.533333  0.000000  0.0  0.397959
32534  0.561644  0.094827  0.533333  0.000000  0.0  0.397959
32535  0.068493  0.128499  0.533333  0.000000  0.0  0.193878
32536  0.479452  0.187203  0.533333  0.150242  0.0  0.397959

[32537 rows x 6 columns]

In [15]:
# â€¢	Discuss the scenarios where each scaling technique is preferred and why.

# Scenarios for StandardScaler:
# 1. Algorithms that assume features are normally distributed: Many machine learning algorithms, like linear regression, logistic regression, and support vector machines, work best when features are normally distributed. StandardScaler transforms features to have zero mean and unit variance, which approximates a normal distribution.

# 2. Features with varying scales: When features have vastly different scales (e.g., age in years vs. income in dollars), StandardScaler ensures that all features contribute equally to the model.

# Scenarios for MinMaxScaler:
# 1. Algorithms sensitive to feature ranges: Some algorithms, like neural networks and k-nearest neighbors, are sensitive to the range of feature values. MinMaxScaler scales features to a specific range (usually 0 to 1), preventing features with larger ranges from dominating the model.

# 2. Preserving zero values: If zero values have a specific meaning in your data (e.g., zero income indicating unemployment), MinMaxScaler preserves these zeros while scaling other values.

# Why choose one over the other:
# - StandardScaler is generally preferred when you want to bring features to a similar scale without being overly concerned about outliers.
# - MinMaxScaler is preferred when you want to ensure features are within a specific range, especially when dealing with algorithms sensitive to feature ranges or when preserving zero values is important.

# The choice ultimately depends on your specific dataset, the algorithm you're using, and the desired properties of your scaled features.

In [16]:
for col in df.select_dtypes(include=["object"]):
  if df[col].nunique() < 5:
    print(col)

sex
income

In [17]:
for col in df.select_dtypes(include=["object"]):
  if df[col].nunique() >= 5:
    print(col)

workclass
education
marital_status
occupation
relationship
race
native_country

Encoding Techniques

In [18]:
# Identify columns for each encoding type
ohe_cols = [col for col in df.select_dtypes(include=["object"]) if df[col].nunique() < 5]
le_cols = [col for col in df.select_dtypes(include=["object"]) if df[col].nunique() >= 5]

# Apply One-Hot Encoding
ohe = OneHotEncoder(handle_unknown='ignore') # Handle potentially unseen categories in the future
ohe_df = pd.DataFrame(ohe.fit_transform(df[ohe_cols]).toarray(),
                      columns=ohe.get_feature_names_out(ohe_cols))

# Apply Label Encoding
le = LabelEncoder()
for col in le_cols:
    df[col] = le.fit_transform(df[col])

# Combine the results
final_df = pd.concat([df.drop(ohe_cols, axis=1), ohe_df], axis=1)

In [19]:
final_df

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,capital_gain,capital_loss,hours_per_week,native_country,sex_ Female,sex_ Male,income_ <=50K,income_ >50K
0,39,7,77516,9,13,4,1,1,4,2174,0,40,39,0.0,1.0,1.0,0.0
1,50,6,83311,9,13,2,4,0,4,0,0,13,39,0.0,1.0,1.0,0.0
2,38,4,215646,11,9,0,6,1,4,0,0,40,39,0.0,1.0,1.0,0.0
3,53,4,234721,1,7,2,6,0,2,0,0,40,39,0.0,1.0,1.0,0.0
4,28,4,338409,9,13,2,10,5,2,0,0,40,5,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32532,27,4,257302,7,12,2,13,5,4,0,0,38,39,1.0,0.0,1.0,0.0
32533,40,4,154374,11,9,2,7,0,4,0,0,40,39,0.0,1.0,0.0,1.0
32534,58,4,151910,11,9,6,1,4,4,0,0,40,39,1.0,0.0,1.0,0.0
32535,22,4,201490,11,9,4,1,3,4,0,0,20,39,0.0,1.0,1.0,0.0
32536,52,5,287927,11,9,2,4,5,4,15024,0,40,39,1.0,0.0,0.0,1.0

In [20]:
#Discuss the pros and cons of One-Hot Encoding and Label Encoding.

# Pros and Cons of One-Hot Encoding:

# Pros:
# 1. Handles Nominal Data: One-Hot Encoding is ideal for nominal categorical features (categories with no inherent order) as it creates binary features for each category, avoiding the creation of artificial ordinal relationships.

# 2. Improved Model Performance: By representing categories as independent features, One-Hot Encoding can improve the performance of many machine learning algorithms, especially those sensitive to feature scaling and ordinal relationships.

# Cons:
# 1. Increased Dimensionality: For features with many unique categories, One-Hot Encoding can significantly increase the number of features, leading to potential computational costs and overfitting.

# 2. Sparsity: The resulting one-hot encoded features are often sparse (mostly zeros), which might require specialized algorithms or data structures for efficient handling.

# Pros and Cons of Label Encoding:

# Pros:
# 1. Simplicity and Efficiency: Label Encoding is straightforward and computationally efficient, especially for features with a large number of unique categories.

# 2. Preserves Ordinal Relationships: For ordinal categorical features (categories with a natural order), Label Encoding maintains the inherent order, which can be beneficial for some algorithms.

# Cons:
# 1. Creates Artificial Ordinal Relationships: For nominal features, Label Encoding introduces artificial ordinal relationships between categories, which can mislead some algorithms and negatively impact performance.

# 2. Limited Applicability: Label Encoding is generally not suitable for algorithms sensitive to feature scaling or those that assume features are normally distributed.

Feature Engineering

In [21]:
#Create at least 2 new features that could be beneficial for the model. Explain the rationale behind your choices.

# Feature 1: Combined Capital
# Rationale: Combining capital gain and loss into a single feature might provide a more holistic view of an individual's financial status.
final_df['combined_capital'] = final_df['capital_gain'] - final_df['capital_loss']

# Feature 2: Hours Worked Per Week Category
# Rationale: Categorizing hours worked per week could capture potential non-linear relationships between working hours and income.
bins = [0, 30, 40, 60, 100]
labels = ['Part-time', 'Full-time', 'Overtime', 'Extensive']
final_df['hours_per_week_category'] = pd.cut(final_df['hours_per_week'], bins=bins, labels=labels)

# Apply Label Encoding to the new categorical feature
le = LabelEncoder()
final_df['hours_per_week_category'] = le.fit_transform(final_df['hours_per_week_category'])

final_df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,capital_gain,capital_loss,hours_per_week,native_country,sex_ Female,sex_ Male,income_ <=50K,income_ >50K,combined_capital,hours_per_week_category
0,39,7,77516,9,13,4,1,1,4,2174,0,40,39,0.0,1.0,1.0,0.0,2174,1
1,50,6,83311,9,13,2,4,0,4,0,0,13,39,0.0,1.0,1.0,0.0,0,3
2,38,4,215646,11,9,0,6,1,4,0,0,40,39,0.0,1.0,1.0,0.0,0,1
3,53,4,234721,1,7,2,6,0,2,0,0,40,39,0.0,1.0,1.0,0.0,0,1
4,28,4,338409,9,13,2,10,5,2,0,0,40,5,1.0,0.0,1.0,0.0,0,1

In [22]:
#Apply a transformation (e.g., log transformation) to at least one skewed numerical feature and justify your choice.

# Check for skewness in numerical features
skewed_features = final_df[numerical_cols].skew()
print(skewed_features)

# Apply log transformation to 'capital_gain' due to high skewness
final_df['capital_gain_log'] = np.log1p(final_df['capital_gain'])  # Use log1p to handle zero values

# Justification:
# The 'capital_gain' feature exhibits high skewness, indicating a long tail of high-income earners.
# Log transformation compresses the range of values, reducing the influence of extreme outliers and potentially improving model performance.
# It can help normalize the distribution and make it more suitable for algorithms that assume normality.

age                0.557663
fnlwgt             1.447703
education_num     -0.309500
capital_gain      11.949403
capital_loss       4.592702
hours_per_week     0.228759
dtype: float64

In [23]:
final_df

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,capital_gain,capital_loss,hours_per_week,native_country,sex_ Female,sex_ Male,income_ <=50K,income_ >50K,combined_capital,hours_per_week_category,capital_gain_log
0,39,7,77516,9,13,4,1,1,4,2174,0,40,39,0.0,1.0,1.0,0.0,2174,1,7.684784
1,50,6,83311,9,13,2,4,0,4,0,0,13,39,0.0,1.0,1.0,0.0,0,3,0.000000
2,38,4,215646,11,9,0,6,1,4,0,0,40,39,0.0,1.0,1.0,0.0,0,1,0.000000
3,53,4,234721,1,7,2,6,0,2,0,0,40,39,0.0,1.0,1.0,0.0,0,1,0.000000
4,28,4,338409,9,13,2,10,5,2,0,0,40,5,1.0,0.0,1.0,0.0,0,1,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32532,27,4,257302,7,12,2,13,5,4,0,0,38,39,1.0,0.0,1.0,0.0,0,1,0.000000
32533,40,4,154374,11,9,2,7,0,4,0,0,40,39,0.0,1.0,0.0,1.0,0,1,0.000000
32534,58,4,151910,11,9,6,1,4,4,0,0,40,39,1.0,0.0,1.0,0.0,0,1,0.000000
32535,22,4,201490,11,9,4,1,3,4,0,0,20,39,0.0,1.0,1.0,0.0,0,3,0.000000
32536,52,5,287927,11,9,2,4,5,4,15024,0,40,39,1.0,0.0,0.0,1.0,15024,1,9.617471

Feature Selection

In [24]:
from sklearn.ensemble import IsolationForest

# Create an IsolationForest model
iso_forest = IsolationForest(contamination=0.05)  # Adjust contamination as needed

# Fit the model and predict outliers
outliers = iso_forest.fit_predict(final_df.select_dtypes(include=['number']))

# Remove outliers from the DataFrame
final_df_no_outliers = final_df[outliers != -1]
final_df_no_outliers

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,capital_gain,capital_loss,hours_per_week,native_country,sex_ Female,sex_ Male,income_ <=50K,income_ >50K,combined_capital,hours_per_week_category,capital_gain_log
0,39,7,77516,9,13,4,1,1,4,2174,0,40,39,0.0,1.0,1.0,0.0,2174,1,7.684784
1,50,6,83311,9,13,2,4,0,4,0,0,13,39,0.0,1.0,1.0,0.0,0,3,0.000000
2,38,4,215646,11,9,0,6,1,4,0,0,40,39,0.0,1.0,1.0,0.0,0,1,0.000000
3,53,4,234721,1,7,2,6,0,2,0,0,40,39,0.0,1.0,1.0,0.0,0,1,0.000000
4,28,4,338409,9,13,2,10,5,2,0,0,40,5,1.0,0.0,1.0,0.0,0,1,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,22,4,310152,15,10,4,11,1,4,0,0,40,39,0.0,1.0,1.0,0.0,0,1,0.000000
32532,27,4,257302,7,12,2,13,5,4,0,0,38,39,1.0,0.0,1.0,0.0,0,1,0.000000
32533,40,4,154374,11,9,2,7,0,4,0,0,40,39,0.0,1.0,0.0,1.0,0,1,0.000000
32534,58,4,151910,11,9,6,1,4,4,0,0,40,39,1.0,0.0,1.0,0.0,0,1,0.000000
32535,22,4,201490,11,9,4,1,3,4,0,0,20,39,0.0,1.0,1.0,0.0,0,3,0.000000

In [25]:

# Outliers can significantly affect model performance in various ways:

# 1. Bias in Parameter Estimation:
#    - Outliers can disproportionately influence the estimation of model parameters, pulling them away from values that represent the majority of the data.
#    - This can lead to biased models that make inaccurate predictions, especially for new data points that fall within the normal range.

# 2. Increased Variance and Overfitting:
#    - Outliers can increase the variance of a model, making it more sensitive to small fluctuations in the training data.
#    - This can lead to overfitting, where the model learns the training data too well, including the outliers, and performs poorly on unseen data.

# 3. Reduced Model Robustness:
#    - Models trained on data with outliers may become less robust and more susceptible to the influence of noisy or extreme data points in the future.
#    - This can decrease the model's generalization ability and reliability in real-world scenarios.

# 4. Misinterpretation of Relationships:
#    - Outliers can distort the perceived relationships between variables in the data.
#    - This can lead to incorrect conclusions about the underlying patterns and dependencies, hindering the development of accurate and insightful models.

# 5. Impact on Specific Algorithms:
#    - Certain algorithms are more sensitive to outliers than others. For example:
#        - Linear regression models can be heavily influenced by outliers due to their reliance on minimizing squared errors.
#        - K-means clustering can be affected by outliers as they can distort the cluster centroids.

# Mitigation Strategies:
#    - Outlier detection and removal: Identify and remove or replace outliers before training the model.
#    - Robust algorithms: Use algorithms that are less sensitive to outliers, such as robust regression or decision trees.
#    - Data transformation: Apply transformations like log or square root to reduce the impact of extreme values.
#    - Careful feature engineering: Design features that are less susceptible to outliers or capture their information in a meaningful way.

In [29]:
!pip install ppscore
import ppscore as pps

# Calculate the Predictive Power Score (PPS) matrix
pps_matrix = pps.matrix(final_df_no_outliers)

# Display the PPS matrix
pd.DataFrame(pps_matrix)

Requirement already satisfied: ppscore in /usr/local/lib/python3.10/dist-packages (1.3.0)
Requirement already satisfied: pandas<2.0.0,>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from ppscore) (1.5.3)
Requirement already satisfied: scikit-learn<2.0.0,>=0.20.2 in /usr/local/lib/python3.10/dist-packages (from ppscore) (1.3.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas<2.0.0,>=1.0.0->ppscore) (1.26.4)
Requirement already satisfied: scipy>=1.5.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (1.13.1)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (3.5.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas<2.0.0,>=1.0.0->ppscore) (1.16.0)

,x,y,ppscore,case,is_valid_score,metric,baseline_score,model_score,model
0,age,age,1.000000,predict_itself,True,None,0.0000,1.000000,None
1,age,workclass,0.000000,regression,True,mean absolute error,0.7088,0.843994,DecisionTreeRegressor()
2,age,fnlwgt,0.000000,regression,True,mean absolute error,75990.5068,77281.778551,DecisionTreeRegressor()
3,age,education,0.000000,regression,True,mean absolute error,2.6380,2.687162,DecisionTreeRegressor()
4,age,education_num,0.000000,regression,True,mean absolute error,1.7878,1.834153,DecisionTreeRegressor()
...,...,...,...,...,...,...,...,...,...
395,capital_gain_log,income_ <=50K,0.000000,regression,True,mean absolute error,0.2164,0.298041,DecisionTreeRegressor()
396,capital_gain_log,income_ >50K,0.000000,regression,True,mean absolute error,0.2164,0.298041,DecisionTreeRegressor()
397,capital_gain_log,combined_capital,0.681782,regression,True,mean absolute error,436.1992,138.806350,DecisionTreeRegressor()
398,capital_gain_log,hours_per_week_category,0.000000,regression,True,mean absolute error,0.6000,0.693303,DecisionTreeRegressor()
399,capital_gain_log,capital_gain_log,1.000000,predict_itself,True,None,0.0000,1.000000,None

In [31]:

# Calculate the correlation matrix
corr_matrix = final_df_no_outliers.corr()

# Display the correlation matrix
pd.DataFrame(corr_matrix)

# Comparing PPS and Correlation:

# Predictive Power Score (PPS):
# - Measures the ability of one feature to predict another feature.
# - Captures both linear and non-linear relationships.
# - Provides a directional measure (predictor -> predicted).
# - Ranges from 0 (no predictive power) to 1 (perfect prediction).

# Correlation:
# - Measures the linear association between two features.
# - Does not capture non-linear relationships.
# - Provides a symmetrical measure (no directionality).
# - Ranges from -1 (perfect negative correlation) to 1 (perfect positive correlation).

# Key Differences and Insights:

# - Non-linear Relationships: PPS can reveal predictive relationships that correlation might miss due to its focus on linear associations.
# - Directionality: PPS indicates the direction of the predictive relationship, while correlation only shows the strength of association.
# - Complementary Analysis: Using both PPS and correlation can provide a more comprehensive understanding of feature relationships.

# Example:
# - If PPS shows a high score for feature A predicting feature B, but correlation is low, it suggests a non-linear relationship.
# - If both PPS and correlation are high, it reinforces a strong linear relationship.

# By comparing the PPS matrix and correlation matrix, you can gain deeper insights into the complex relationships between features in your dataset, potentially leading to better feature selection and model development.

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,capital_gain,capital_loss,hours_per_week,native_country,sex_ Female,sex_ Male,income_ <=50K,income_ >50K,combined_capital,hours_per_week_category,capital_gain_log
age,1.000000,0.019791,-0.077714,-0.001995,0.038758,-0.294481,-0.013475,-0.289533,0.035536,0.093924,0.043713,0.096241,0.012845,-0.107949,0.107949,-0.232674,0.232674,0.083153,-0.072199,0.082854
workclass,0.019791,1.000000,-0.015314,0.013600,0.043858,-0.061237,0.239123,-0.091995,0.044391,0.035691,0.010838,0.128134,-0.011227,-0.090606,0.090606,-0.045776,0.045776,0.032698,-0.022720,0.029473
fnlwgt,-0.077714,-0.015314,1.000000,-0.030852,-0.046373,0.029301,0.001211,0.005757,-0.027614,-0.008328,-0.008487,-0.020278,-0.057632,-0.031898,0.031898,0.010125,-0.010125,-0.006495,-0.014485,-0.010957
education,-0.001995,0.013600,-0.030852,1.000000,0.350546,-0.031572,-0.026795,-0.006786,0.003267,0.022438,0.023547,0.053303,0.064007,0.037447,-0.037447,-0.075830,0.075830,0.017368,-0.011355,0.018922
education_num,0.038758,0.043858,-0.046373,0.350546,1.000000,-0.058385,0.101857,-0.106427,0.035665,0.124009,0.072082,0.140891,0.066380,-0.013349,0.013349,-0.316226,0.316226,0.107052,0.000498,0.087667
marital_status,-0.294481,-0.061237,0.029301,-0.031572,-0.058385,1.000000,-0.006603,0.206910,-0.072729,-0.067150,-0.035937,-0.197631,-0.030182,0.132754,-0.132754,0.199534,-0.199534,-0.058557,0.121943,-0.061817
occupation,-0.013475,0.239123,0.001211,-0.026795,0.101857,-0.006603,1.000000,-0.074427,0.008393,0.017887,0.014944,0.065142,-0.010413,-0.077608,0.077608,-0.070128,0.070128,0.014575,0.035897,0.013509
relationship,-0.289533,-0.091995,0.005757,-0.006786,-0.106427,0.206910,-0.074427,1.000000,-0.116896,-0.139528,-0.090715,-0.256365,0.007920,0.572332,-0.572332,0.304166,-0.304166,-0.118617,0.087874,-0.130801
race,0.035536,0.044391,-0.027614,0.003267,0.035665,-0.072729,0.008393,-0.116896,1.000000,0.051491,0.036306,0.047832,0.115843,-0.088082,0.088082,-0.090844,0.090844,0.043235,0.050962,0.051684
capital_gain,0.093924,0.035691,-0.008328,0.022438,0.124009,-0.067150,0.017887,-0.139528,0.051491,1.000000,-0.040526,0.085761,0.035220,-0.116450,0.116450,-0.272541,0.272541,0.981715,-0.004868,0.861799
capital_loss,0.043713,0.010838,-0.008487,0.023547,0.072082,-0.035937,0.014944,-0.090715,0.036306,-0.040526,1.000000,0.047892,0.033582,-0.069185,0.069185,-0.131128,0.131128,-0.229986,-0.003328,-0.049319
hours_per_week,0.096241,0.128134,-0.020278,0.053303,0.140891,-0.197631,0.065142,-0.256365,0.047832,0.085761,0.047892,1.000000,0.003197,-0.230908,0.230908,-0.228112,0.228112,0.074407,-0.478468,0.072273
native_country,0.012845,-0.011227,-0.057632,0.064007,0.066380,-0.030182,-0.010413,0.007920,0.115843,0.035220,0.033582,0.003197,1.000000,0.020782,-0.020782,-0.040560,0.040560,0.027906,0.032302,0.035822
sex_ Female,-0.107949,-0.090606,-0.031898,0.037447,-0.013349,0.132754,-0.077608,0.572332,-0.088082,-0.116450,-0.069185,-0.230908,0.020782,1.000000,-1.000000,0.250871,-0.250871,-0.100241,0.067242,-0.112230
sex_ Male,0.107949,0.090606,0.031898,-0.037447,0.013349,-0.132754,0.077608,-0.572332,0.088082,0.116450,0.069185,0.230908,-0.020782,-1.000000,1.000000,-0.250871,0.250871,0.100241,-0.067242,0.112230
income_ <=50K,-0.232674,-0.045776,0.010125,-0.075830,-0.316226,0.199534,-0.070128,0.304166,-0.090844,-0.272541,-0.131128,-0.228112,-0.040560,0.250871,-0.250871,1.000000,-1.000000,-0.240471,0.043907,-0.215177
income_ >50K,0.232674,0.045776,-0.010125,0.075830,0.316226,-0.199534,0.070128,-0.304166,0.090844,0.272541,0.131128,0.228112,0.040560,-0.250871,0.250871,-1.000000,1.000000,0.240471,-0.043907,0.215177
combined_capital,0.083153,0.032698,-0.006495,0.017368,0.107052,-0.058557,0.014575,-0.118617,0.043235,0.981715,-0.229986,0.074407,0.027906,-0.100241,0.100241,-0.240471,0.240471,1.000000,-0.004108,0.848783
hours_per_week_category,-0.072199,-0.022720,-0.014485,-0.011355,0.000498,0.121943,0.035897,0.087874,0.050962,-0.004868,-0.003328,-0.478468,0.032302,0.067242,-0.067242,0.043907,-0.043907,-0.004108,1.000000,-0.014670
capital_gain_log,0.082854,0.029473,-0.010957,0.018922,0.087667,-0.061817,0.013509,-0.130801,0.051684,0.861799,-0.049319,0.072273,0.035822,-0.112230,0.112230,-0.215177,0.215177,0.848783,-0.014670,1.000000

In [36]:
corr_abs=corr_matrix.abs()
np.fill_diagonal(corr_abs.values,0)
best_corr_value=corr_abs.max().max()
best_corr_value

1.0000000000000004

In [38]:
best_corr_indices=np.where(corr_abs==best_corr_value)
best_corr_pair=[(corr_matrix.index[i],corr_matrix.columns[j]) for i,j in zip(*best_corr_indices)]
best_corr_pair

[('sex_ Female', 'sex_ Male'), ('sex_ Male', 'sex_ Female')]